.body{
    background:url(https://jiakaihaoren.github.io/mySources/myReactApp/jkzzj/images/jkzzj/background.jpg) no-repeat top center;
    background-size: 100% 100%;
    height:700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav{
    display: flex;
    align-items: center;
}
.navCenter{
    display: flex;
    width: 550px;
    justify-content: space-between;
}