html{
  font-size:20px;
}
/* 屏幕自适应 rem */
@media screen and (max-width:980px){
  html{
      font-size:calc(14px + 6 * (100vmin - 320px) / 660);
  }
  
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
