.card {
  width: 8rem;
  height: 8rem;
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  color: white;
}
.card:hover{
  cursor:pointer 
}

